.channeldetail {
  margin-left: 35px;
	padding: 0 10px 0 10px;
	white-space: nowrap;
	overflow: hidden;
}

.channeldetail .text {
	float: left;
}

.channeldetail .title {
	color: #626262;
	font-size: 30px;
}

.channeldetail .desc {
	color: #a9a9a9;
}

.channeldetail .share {
	float: right;
	margin:15px 30px 0 0;
	color: #a9a9a9;
}

.channeldetail .share img {
	float: left;
}

.channeldetail .share div {
	float: left;
	line-height: 29px;
	margin-left: 10px;
}

.videocard {
	margin-top: 25px;
	padding: 0 35px 0 35px;
	border-bottom: 4px solid #ededed;
}

.cover {
	position: relative;
	margin-bottom: 18px;
}

.play {
	width: 88px;
	height: 88px;
	border-radius: 100px;
	border: 2px solid #fe4545;
	position: absolute;
	top: 244px;
	left: 244px;
	opacity: 0.9;
}

.play div {
	width: 0;
	height: 0;
	margin: 18px auto auto 30px;
	border-top: 26px solid transparent;
	border-left: 40px solid #fe4545;
	border-bottom: 26px solid transparent;
}

.like {
	position: absolute;
	right: -25px;
	bottom: 25px;
	width: 98px;
	height: 48px;
	background-color: rgba(255,255,255,0.5);
	border-radius: 100px;
	color: #000;
	line-height: 48px;
	font-size: 25px;
	padding-left: 80px;
	background-image: url(../images/like.png);
	background-repeat: no-repeat;
	background-position: 15px 5px;
}

.userinfo .info {
	float: left;
	margin-left: 10px;
}

.userinfo .username {
	font-size: 28px;
}

.userinfo .playcount {
	color: #a9a9a9;
	height: 20px;
	line-height: 20px;
	padding-left: 30px;
	margin-top: 10px;
	background: url(../images/playcount.png) no-repeat;
}

.videocard .description {
	font-size: 22px;
	color: #777;
	margin: 10px 0 50px 0;
}

.command {
	color: #afafaf;
	font-size: 20px;
	margin-bottom: 20px;
}

.command .comment {
	float: left;
	height: 33px;
	line-height: 33px;
	padding-left: 50px;
	background: url(../images/comment.png) no-repeat;
}

.command .share {
	float: right;
	height: 33px;
	line-height: 33px;
	padding: 0 20px 0 28px;
	background: url(../images/share_video.png) no-repeat;
	background-position: 0 7px;
}

.hotchannel .hot_title {
	height: 63px;
	line-height: 63px;
	color: #626262;
	font-size: 30px;
	background: url(../images/hot.png) no-repeat;
	background-position: 365px 22px;
	background-color: #ededed;
	padding-left: 230px;
}

.hotchannelol {
	margin-left: 20px;
}

.hotchannelol img {
	margin-top: 18px;
}

.hotchannelol .channel {
	float: right;
	width: 510px;
	height: 110px;
	line-height: 110px;
	border-bottom: 1px solid #dfdfdf;
	font-size: 24px;
}

.hotchannelol .title {
	float: left;
}

.hotchannelol .subscribe {
	float: right; 
	padding-right: 32px;
}