header {
	height: 90px;
}

.price span:before {
	content: '¥';
}

.price .vip_price:before {
	content: 'VIP:¥';
}

.FreeRefundIn7Days:after {
	content: '七天退换';
}

.QualityAssurance:after {
	content: '质量保证';
}

