@charset "UTF-8";
img {
  display: block; }

html, body, p, a, ol, ul, dd {
  margin: 0;
  padding: 0; }

ol, ul {
  list-style: none; }

.clearfix {
  clear: both; }

.ding {
  height: 1000px; }

body {
  font-size: 25px;
  font-family: "Microsoft Yahei"; }

.top-holder {
  height: 102px; }

.bottom-holder {
  height: 175px; }

.store-cart-title {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  height: 90px;
  line-height: 90px;
  border-bottom: 12px solid #f1f1f1;
  text-align: center;
  font-weight: bold;
  background-color: white; }

.store-cart-list {
  border-bottom: 12px solid #f1f1f1; }
  .store-cart-list .title {
    padding-left: 30px;
    height: 60px;
    line-height: 60px;
    border-bottom: 1px solid #bebebe; }
    .store-cart-list .title .icon {
      float: left;
      padding-top: 10px; }
    .store-cart-list .title .text, .store-cart-list .title .disable {
      font-size: 20px; }
    .store-cart-list .title .disable:before {
      content: '失效';
      background-color: #bebebe;
      margin-right: 10px;
      padding: 0 3px;
      font-size: 18px;
      color: white; }
  .store-cart-list .item {
    border-bottom: 1px solid #bebebe; }
    .store-cart-list .item .isselect {
      float: left;
      margin: 86px 20px 100px 20px; }
    .store-cart-list .item .image {
      float: left;
      border: 1px solid #d7d7d7;
      margin-right: 20px;
      height: 152px;
      width: 152px;
      margin-top: 32px; }
    .store-cart-list .item .info {
      float: left;
      margin: 40px 0 0 18px; }
      .store-cart-list .item .info .pro_title, .store-cart-list .item .info .disable {
        float: left;
        border-right: 1px solid #bebebe;
        width: 305px;
        height: 64px;
        padding-right: 15px; }
      .store-cart-list .item .info .disable {
        color: #bebebe; }
      .store-cart-list .item .info .bin {
        float: left;
        margin: 14px 0 0 18px; }
      .store-cart-list .item .info .num {
        float: left;
        width: 126px;
        height: 38px;
        border-radius: 19px;
        border: 1px solid #bebebe;
        margin-top: 40px; }
        .store-cart-list .item .info .num .minus, .store-cart-list .item .info .num .plus {
          padding-top: 3px;
          height: 29px;
          border-radius: 100%;
          border: 1px solid #bebebe;
          font-size: 35px;
          line-height: 25px; }
        .store-cart-list .item .info .num .minus {
          width: 19px;
          padding-left: 10px;
          margin: 2px 2px 2px 2px;
          float: left;
          color: #bebebe; }
        .store-cart-list .item .info .num .plus {
          width: 25px;
          padding-left: 4px;
          margin: 2px 2px 2px -2px;
          float: right;
          color: #ff4548; }
        .store-cart-list .item .info .num .now {
          text-align: center;
          line-height: 37px; }
    .store-cart-list .item .price, .store-cart-list .item .button {
      margin: 53px 0 0 235px; }
      .store-cart-list .item .price span.p1, .store-cart-list .item .button span.p1, .store-cart-list .item .price span.p2:before, .store-cart-list .item .button span.p2:before {
        content: "¥"; }
      .store-cart-list .item .price .p1, .store-cart-list .item .button .p1 {
        font-size: 16px;
        line-height: 23px;
        text-decoration: line-through;
        color: #797979; }
      .store-cart-list .item .price .p2, .store-cart-list .item .button .p2 {
        font-style: 23px;
        line-height: 23px;
        color: #ff4546;
        padding-left: 15px; }
    .store-cart-list .item .button .b1 {
      font-size: 18px;
      line-height: 18px;
      color: #797979;
      padding-left: 72px; }
    .store-cart-list .item .button .b2 {
      font-size: 18px;
      line-height: 18px;
      color: #fe4445;
      margin-left: 48px;
      padding: 4px;
      border: 1px solid #fe4445;
      border-radius: 2px; }
  .store-cart-list .empty {
    color: #4a4a4a;
    font-size: 22px;
    width: 226px;
    height: 40px;
    line-height: 40px;
    margin: 10px auto;
    border: 1px solid #4a4a4a;
    border-radius: 4px;
    text-align: center; }

.store-cart-bottom {
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  height: 175px; }
  .store-cart-bottom .info {
    background-color: rgba(30, 30, 30, 0.8);
    height: 69px;
    line-height: 70px;
    color: white;
    text-align: center;
    border-bottom: 1px solid #bebebe; }
  .store-cart-bottom .command {
    height: 105px;
    background-color: #fff; }
    .store-cart-bottom .command .order {
      float: right;
      height: 105px;
      line-height: 105px;
      width: 175px;
      background-color: #fe4445;
      color: white;
      font-size: 30px;
      text-align: center; }
    .store-cart-bottom .command .orderinfo {
      float: left;
      width: 465px;
      color: #484848; }
      .store-cart-bottom .command .orderinfo .selectall {
        float: left;
        font-size: 16px;
        padding-top: 35px;
        margin: 37px 0 0 20px; }
      .store-cart-bottom .command .orderinfo .price, .store-cart-bottom .command .orderinfo .store-cart-list .item .button, .store-cart-list .item .store-cart-bottom .command .orderinfo .button {
        float: right;
        margin: 35px 23px 0 0;
        text-align: right; }
        .store-cart-bottom .command .orderinfo .price .amount, .store-cart-bottom .command .orderinfo .store-cart-list .item .button .amount, .store-cart-list .item .store-cart-bottom .command .orderinfo .button .amount {
          font-size: 1.2em;
          color: #fd4545; }
        .store-cart-bottom .command .orderinfo .price div:last-child, .store-cart-bottom .command .orderinfo .store-cart-list .item .button div:last-child, .store-cart-list .item .store-cart-bottom .command .orderinfo .button div:last-child {
          font-size: 0.7em; }

.icon_bin {
  background: url(../images/cart_icon.png) no-repeat;
  background-position: -64px 0;
  height: 28px;
  width: 28px; }
.icon_noselect {
  background: url(../images/cart_icon.png) no-repeat;
  background-position: -32px 0;
  height: 32px;
  width: 32px; }
.icon_selected {
  background: url(../images/cart_icon.png) no-repeat;
  background-position: 0 0;
  height: 32px;
  width: 32px; }
