<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=640">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta name="description" content="小红唇是小白学化妆神器，让你10秒学会化妆，最快速度找到适合你的化妆品">
    <title>商品列表 - 小红唇</title>
    <link rel="stylesheet" type="text/css" href="css/mobile.css">
    <link rel="stylesheet" type="text/css" href="css/commodity_subject.css">

</head>

<body>
<div class="loading">
    <div class="title">小红唇</div>
    <div class="subtitle">你的变美频道</div>
    <div class="sharp1"></div>
    <div class="sharp2"></div>
    <div class="sharp3"></div>
    <div class="sharp4"></div>
</div>

<div class="content" style="display: none">
    <div class="header">
        <img src="images/commodity_subject_logo.png">
        <img class="download" src="images/commodity_subject_button.png">
    </div>
    <div class="commodity_subject_banner">
        <img src="images/pic.png">
    </div>
    <div class="commodity_subject_content">
        <p class="content" style="margin-bottom: 26px;">
            我是专题页内容我是专题页内容我是专题页内容我是专题页内容我是专题页内容我是专题页内容我是专题页内容
            我是专题页内容我是专题页内容我是专题页内容我是专题页内容我是专题页内容我是专题页内容我是专题页内容我是专题页内容
            我是专题页内容我是专题页内容我是专题页内容我是专题页内容
        </p>
        <div class="commodity_subject_list" v-for="item in data">
            <div class="commodity_subject_img">
                <img src="images/coco.jpg">
                <div class="commodity_subject_shopCar">
                    <img src="images/shopCar.png">
                </div>
            </div>
            <h4 class="product_title">商品标题</h4>
            <h3>商品卖点商品卖点</h3>
            <h4 class="product_cash">¥ 234元</h4>
            <p class="product_info">商品详情商品详情商品详情，商品详情商品详情商品详情商品详情商品详情商品详情商品详情，商品详情商品详情商品详情商品详情商品详情商品详情商品详情。</p>
        </div>
    </div>

    <!--<div class="store-list-item">-->
        <!--<div class="item" v-for="item in data">-->
            <!--<div class="product_image">-->
                <!--<img data-src="{{item.g_image}}" onclick="location.href='http://www.xiaohongchun.com/index/params?goods={{item.g_id}}'" />-->
            <!--</div>-->
            <!--<div class="product_title">{{item.g_title}}</div>-->
            <!--<div class="product_desc">{{item.g_name}}</div>-->
            <!--<div class="product_price">-->
                <!--<span class="price_onsell">{{item.g_price_shop}}</span>-->
                <!--<span class="price_origin">{{item.g_price_market}}</span>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="clearfix"></div>-->
    <!--</div>-->

    <!--<div class="store-list-info">正在加载更多商品</div>-->

</div>

<script type="text/javascript" src="assets/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="js/store-debug.js"></script>
<script type="text/javascript" src="lib/mobile.js"></script>
<script type="text/javascript" src="js/vue.min.js"></script>
<script type="text/javascript" src="js/commodity_subject.js"></script>
<script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
</body>

</html>
